<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <div flex="auto"></div>
        <md-button class="md-raised md-primary" ng-click="vm.createUser()">Add</md-button>
    </div>
</md-toolbar>
<div ng-if="vm.users.length === 0">No users have been added</div>
<md-content ng-if="vm.users.length > 0" layout="column" layout-padding md-scroll-y flex>
    <div>
        <md-card ng-repeat="user in vm.users">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{user.username}}</span>
                </md-card-title-text>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="vm.stateGo('user', {username: user.username})">Edit</md-button>
                    <md-button ng-click="vm.deleteUsers([user])">Delete</md-button>
                </md-card-actions>
            </md-card-title>
        </md-card>
    </div>
</md-content>