<form name="editUserForm">
    <md-input-container>
        <label>Username</label>
        <input type="text" name="username" ng-model="vm.user.username" required>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="text" name="password" ng-model="vm.user.password" required>
    </md-input-container>
    <md-button class="md-raised md-primary"
               ng-click="vm.update()"
               ng-show="editUserForm.username.$dirty || editUserForm.password.$dirty">Update</md-button>
</form>
<md-button class="md-raised md-primary"  ng-click="vm.stateGo('users')">Cancel</md-button>

